.ch {
    margin-bottom: 3rem;
    padding: 0;
}

.chTitle {
    margin: 0;
    padding: 3rem 0 1rem 0;
    color: var(--clr-accent);
    text-align: left;
}

.chContent {
    margin: 0;
    padding: 1rem 0 0 0;
}

/* About Me */
.about {
    display: block;
}

.about img {
    display: none;
    box-shadow: var(--bs);
    max-width: 40vw;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 2em;
    padding: 0;
}

.about p {
    margin: 0;
}

/* Projects */
.projects {
    display: block;
}

.project {
    margin: 0 0 3rem 0;
}

.proTitle {
    margin: 0;
    padding: 1rem 0 1rem 0;
    color: var(--clr-accent-2);
}

.project a {
    margin-bottom: 1rem;
}

.project img {
    box-shadow: var(--bs);
    width: 100%;
    height: auto;
}

.proContent {
    margin: 0;
}

.guide {
    display: flex;
}

.guide div {
    margin: 1rem;
    height: calc(var(--fs-h2)*2);
    width: calc(var(--fs-h2)*2);
    background-image: url("../images/Logo_Simple_Round_Black.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.guide div a {
    display: block;
    height: 100%;
    width: 100%;
}

.guide h3 {
    margin: auto 1rem auto 0;
    font-size: var(--fs-h3);
}

.guide p {
    margin: auto 1rem auto 0;
}

@media (min-width: 900px) {
    .about {
        display: grid;
        grid-column-gap: 2rem;
        grid-template-areas:
            "img title"
            "img subTitle"
            "img subTitle";
        grid-template-columns: min-content;
        justify-content: left;
    }

    .about .chContent {
        padding-left: 2rem;
    }

    .about img {
        display: unset;
        grid-area: img;
        max-width: 20rem;
        max-height: 80vh;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: auto;
    }

    .about p {
        padding-top: 2rem;
    }

    .projects {
        display: grid;
        grid-column-gap: 6rem;
        grid-row-gap: 6rem;
        grid-template-columns: 1fr 1fr;
    }

    .project {
        margin: 0 0 1rem 0;
    }

    .proTitle {
        padding: 3rem 0 1rem 0;
    }

    .project img:hover {
        filter: blur(10px);
    }

    .proContent {
        max-width: inherit;
        text-align: justify;
    }
}

/* Footer */
.footer {
    background-color: #ffffff40;
}

.socialLinks {
    display: flex;
    align-content: left;
}

.social {
    max-width: 3rem;
    margin: 1rem;
}

.social img {
    max-width: 100%;
}