html {
    scroll-behavior: smooth;
}

:root {
    --ff-primary: "Segoe UI";
    --ff-secondary: "Source Code Pro";

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #000;
    --clr-accent: #00fbff;
    --clr-gm4: linear-gradient(to bottom right, rgb(125, 0, 0), rgb(0, 0, 125));

    --fs-h1: 1.4rem;
    --fs-h2: 1.2rem;
    --fs-h3: 1rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(255, 255, 255, 0.25);
}

body {
    background: var(--clr-gm4);
    color: var(--clr-light);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    text-align: left;
    margin: 0;
    line-height: 1.4;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

.main {
    margin: 0 2em 0 2em;
    padding: 0 0 3rem 0;
}

@media (min-width: 900px) {
    :root {
        --fs-h1: 3.5rem;
        --fs-h2: 2.75rem;
        --fs-h3: 1.75rem;
        --fs-body: 1.25rem;
    }

    .main {
        margin: 0 5em 0 5em;
        padding: 0 0 3rem 0;
    }
}

/* Typography */
h1, h2, h3 { line-height: 1.1; }
h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }
p { font-size: var(--fs-h3); }