.pagehead {
    display: flex;
    padding: 3rem 0 1rem 0;
}

.pagehead img {
    margin-right: 1rem;
    height: var(--fs-h1);
    width: auto;
}

.pagehead h1 {
    margin: 0;
    height: var(--fs-h1);
}

ul.content-list {
    list-style-type: circle;
}

.ch_title {
    margin: 0;
    padding: 2rem 0 1rem 0;
    font-family: var(--ff-secondary);
}

.ch__img {
    width: 100%;
}

.ch_content {
    margin: 0;
    padding: 1rem 0 0 0;
    text-align: justify;
}

.ch a {
    color: var()
}

@media (min-width: 900px) {
    .pagehead {
        display: flex;
        padding: 3rem 0 4rem 0;
    }

    .ch_title {
        padding: 6rem 0 4rem 0;
    }

    .ch_double_content {
        display: grid;
        grid-template-columns: auto auto;
    }
}


.dual {
    display: grid;
    grid-template-columns: auto auto;
}

.dual__img {
    width: 40vw;
}

.dual__content {
    margin: 0;
    text-align: justify;
}