.pagehead {
    display: flex;
}

.pagehead div {
    margin: 0.2em 1em 0 0;
    height: 3rem;
    width: 3rem;
    background-image: url("../../images/Logo_Simple_Round_Black.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.pagehead a {
    display: block;
    height: 100%;
    width: 100%;
}

ul.content-list {
    list-style-type: circle;
}

.chTitle {
    margin: 0;
    padding: 3rem 0 1rem 0;
    font-family: var(--ff-secondary);
    color: var(--clr-accent)
}

.ch img {
    width: 100%;
}

.chContent {
    margin: 0;
    padding: 1rem 0 0 0;
    text-align: justify;
}

.ch_double_content {
    display: block;
}

table {
    padding: 1rem 0 0 0;
    width: 100%;
}

th {
    border-bottom: 2px solid #ffffff80;
}

tr,
td {
    border-bottom: 1px dashed #ffffff80;
}

@media (min-width: 900px) {

    .chTitle {
        padding: 4rem 0 1rem 0;
    }

    .ch_double_content {
        display: grid;
        grid-template-columns: auto auto;
    }
}

.dual {
    display: grid;
    grid-template-columns: auto auto;
}

.dual__img {
    width: 40vw;
}

.dual__content {
    margin: 0;
    text-align: justify;
}